<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krikki.vocabularytrainer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vocabulary_trainer_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vocabulary_trainer_logo_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dictionary.Dictionary"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krikki.vocabularytrainer.Dictionary" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wordadder.WordAdder"
            android:label="@string/title_activity_word_adder"
            android:screenOrientation="portrait"
            android:parentActivityName=".dictionary.Dictionary" >
            <intent-filter>
                <action android:name="com.krikki.vocabularytrainer.WordAdder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.krikki.vocabularytrainer.dictionary.Dictionary" />
        </activity>
        <activity
            android:name=".games.GameMenu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krikki.vocabularytrainer.games.GameMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.quiz.QuizActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krikki.vocabularytrainer.games.quiz.QuizActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.write.WriteActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krikki.vocabularytrainer.games.write.WriteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsMenu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.krikki.vocabularytrainer..settings.SettingsMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>